{
  "extends": "standard",
  "plugins": [
    "html"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-new": "off",
    "spaced-comment": "off",
    "no-multiple-empty-lines": "off",
    "eol-last": "off",
    "no-multi-spaces": "off"
  }
}
