<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="https://tool.lu/favicon/">
  <%- title%>>
  <%- style %>
</head>
<body>
<div id="root">
  <%- appString %>
</div>

  <%- scripts %>
</body>
</html>
